*{padding: 0%; margin: 0; border: 0; font-size: 14px;}

body{
    background: #f8f8f8;
    color: #9c9c9c;
    margin: 5px;
}
section{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}
article{
    background: #e8e8e8;
    flex: 1 1 100px
}
article header{
    padding: 10px;
    background: #2eec71;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
article:nth-of-type(2) header{background: #f1b14f;}
article:nth-of-type(3) header{background: #514f67;}
article:nth-of-type(4) header{background: #fbca01;}
article:nth-of-type(5) header{background: #2d5d8e;}

ul{padding: 0 10px;}
li{
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #c9c9c9;
}
li.more{
    display: none;
}
p.more-items{
    padding: 20px 0 10px 10px;
    font-style: italic;
    cursor: pointer;
}
.breakfast{
    display: block;
    margin: auto;
}
@media all and (max-width:500px){
    section{
        flex-flow: column wrap;
        
    }
    article{
        flex-basis: initial;
    }
}